<table>
    <tr valign="top">
        <td rowspan="2">
            <img class="seznam-captcha-img" id="seznam-captcha-img-{{name}}">
        </td>
        <td>
            <input class="seznam-captcha-input" type="text" name="{{name}}_1" value="">
        </td>
    </tr>
    <tr>
        <td>
            <a onclick="generate(getCaptchaName())" style="cursor:pointer">reset</a>
        </td>
    </tr>
</table>

<input id="seznam-captcha-key-{{name}}" type="hidden" name="{{name}}_0">

<script src="{{STATIC_URL}}seznam_captcha/captcha_widget.js" type="application/javascript"></script>

