<img class="seznam-captcha-img" id="seznam-captcha-img-{{rnd}}">
<input id="seznam-captcha-key-{{rnd}}" type="hidden" name="{{name}}">
<a onclick="generate()">reset</a>
<script>
get = function(url){
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", url, false);
    xmlhttp.send();
    return xmlhttp.responseText;
}
function generate(){
    key = get("/seznam-captcha/create/");
    document.getElementById("seznam-captcha-img-{{rnd}}").src = "http://captcha.seznam.cz/captcha.getImage?hash="+key
    document.getElementById("seznam-captcha-key-{{rnd}}").value = key;
}
generate()
</script>